.btn {
  font-size: 1rem;
  padding: 0.25rem 0.75rem;
  border-radius: var(--radius);
  border-color: transparent;
  color: white;
  background: $clr-black-1;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;

  &:hover {
    background: $clr-blue-1;
  }
}

.btn-primary {
  padding: 0.7rem 1rem;
  border-radius: $--radius;
  text-transform: uppercase;
  font-size: 0.75rem;
}
