.contact-section {
  padding: 200px 0 0;
}

.contact-form {
  h2 {
    font-size: 2.2rem;
    margin-bottom: 40px;
  }
}

.text-input {
  height: 50px;
  padding: 0 20px;
  width: 100%;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  outline: none;
}

.textarea-input {
  @extend .text-input;
  height: 130px;
  resize: vertical;
  padding: 20px;
}

// contact info
.form-contact {
  padding: 0 0 100px;
}
.contact-info {
  padding: 100px 0 0;

  h2 {
    font-size: 2.2rem;
  }
}

.contact-icon {
  border: 1px solid $clr-blue-1;
  border-radius: 50%;
  color: $clr-blue-1;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin: auto 3px;
  width: 40px;
  text-align: center;
  font-size: 16px;
}

.list-icons li {
  display: flex;
  align-items: flex-end;
  margin: 20px 0;
}
.contact-text {
  color: $clr-grey-3;
  margin-left: 10px;

  h5 {
    font-size: 18px;
  }

  span {
    color: $clr-grey-5;
    font-size: 14px;
  }
}

@media screen and (min-width: 750px) {
  .input-width-1,
  .input-width-2 {
    max-width: 48%;
  }
  .input-width-2 {
    float: right;
  }
}

@media screen and (min-width: 950px) {
  .form-contact {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 100px;
  }
  .contact-form {
    padding: 0 30px;
  }
  .contact-info {
    padding: 0;
  }
}
