.footer {
  padding: 90px 0;
  background-color: $clr-black-2;
  color: #ffff;
  text-align: center;
}

.footer-icons {
  ul {
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      font-size: 30px;
      margin: 10px;
      cursor: pointer;
    }
  }
}
