.navbar {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.nav-logo {
  font-size: 2rem;
  color: $clr-white-1;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: none;
}

@media screen and (min-width: 900px) {
  .toggle-btn {
    display: none !important;
  }
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links {
    display: flex;
    color: $clr-white-1;

    li {
      margin: 0 10px;
    }
  }
}
