.navbar {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  position: fixed;
  width: 100%;
  z-index: 1;
  transition: all 0.3s ease-in;
}

.nav-background {
  background: $clr-white-1;

  .nav-logo {
    color: $clr-black-1;
  }
  .toggle-btn {
    color: $clr-black-1;
    border: 2px solid $clr-black-1;
  }
}
.toggle-btn {
  color: $clr-white-1;
  background: transparent;
  border: 2px solid $clr-white-1;
  padding: 8px 10px;
  border-radius: 2px;
  font-size: 16px;
  cursor: pointer;
}

.nav-logo {
  font-size: 2rem;
  color: $clr-white-1;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: none;
}
.custom-link {
  cursor: pointer;
}

// modal
.modal-link-container {
  .custom-link {
    margin: 0 auto;
    text-align: center;
    position: relative;
    transition: all ease 0.5s;
    letter-spacing: 3px;
    left: -15px;

    &:hover:before {
      content: "→";
      transition: all ease 0.5s;
      left: 0px;
      opacity: 1;
    }
  }
  .custom-link:before {
    content: "→";
    transition: all ease 0.2s;
    position: relative;
    left: -5px;
    opacity: 0;
  }
  .active {
    font-weight: 600;
    &:before {
      content: "→";
      opacity: 1;
    }
  }
}

@media screen and (min-width: 900px) {
  .toggle-btn {
    display: none;
  }
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-background .nav-links {
    color: $clr-black-1;
    font-weight: 600;
  }

  .nav-links {
    display: flex;
    color: $clr-white-1;

    .custom-link {
      margin: 0 auto;
      text-align: center;
      position: relative;
      transition: all ease 0.5s;

      left: -15px;

      &:hover:before {
        content: "→";
        transition: all ease 0.5s;
        left: 0px;
        opacity: 1;
      }
    }

    li {
      margin: 0 10px;
      position: relative;
    }
    .custom-link:before {
      content: "→";
      transition: all ease 0.2s;
      position: relative;
      left: -5px;
      opacity: 0;
    }

    .active {
      font-weight: 600;
      &:before {
        content: "→";
        opacity: 1;
      }
    }
  }
}
