$clr-grey-1: #222222;
$clr-grey-2: #252525;
$clr-grey-3: #444444;
$clr-grey-4: #666666;
$clr-grey-5: #818181;

$clr-black-1: #212529;
$clr-black-2: #111111;

// whites
$clr-white-1: #ffffff;
$clr-white-2: #f1f1f1;

// blues
$clr-blue-1: #007bff;
$clr-blue-2: #1a62ca;

// error
$clr-red-1: #d8000c;
$clr-red-2: #ffbaba;

// radius
$--radius: 0.25rem;
